body{
  background-color:coral;
}
h1{
  color:blue;
  padding: 1.0em;
  font: 1200 1.5em Calligraffitti, cursive;
  }

p{
  color:black;
  text-align:center;
  font: 700 1.5rem Calligraffitti, cursive;

}

p a{
  color: white;
}


.buttons {
    text-align: center;
    
    }
button{
  color:blue;
  background-color: white;
}


/*#quote{
  color:blue;
}

#author{
  color:black;
}*/
